.DS_Store
.vscode

*.class
*.gif

authorities_top_30.txt
hubs_top_30.txt
token_test_tokenized_ok.txt
token_test.txt
tokenized_result.txt
kgram_test.txt
test.txt
davis_authorities_top_30.txt
davis_hubs_top_30.txt
svwiki1000_top_30.txt
davis_top_30.txt

svwikiTitles.txt
linksSvwiki.txt
links1000.txt

classes/
writeUp/

davisWiki/
guardian/
index/
linksDavis.txt
davisTitles.txt